body {
    margin: 25px;
    padding: 0px;
    background-color: #485f8b2c;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    border-color: #dddddd;
    line-height: 1.5;
    width: 100%;
}

.header {
    background-color: #ffffff;
    border: #cccccc;
    margin-left: -25px;
}

nav {
    float: right;
    margin-right: 200px;
    transform: translate(0%,-250%);
    padding-bottom: 0px;
        
    
    
}

h1 {
    background-color: #4aaaa5;
    color: #eee;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    width: 150px; 
    height: 50px;
    padding-top: 25px;
    font-size: 18px;
    margin-left: 218px;
      
}


.container {
    margin: auto;
    border-color:#dddddd;
    border-width: 15px;
    border-style: solid;
    background-color:#ffffff;
    width: 910px;
    padding-top: 15px;
    padding-right: 25px; 
    padding-left: 25px;
    line-height: 1.9em;

}


h2 {
    text-align: left;
    font-size: 22px;
    color: #4aaaa5;
}

.image-container-left {
    position: relative;
    width: 50%;
    float: left;

}

.image-container-right {
    position: relative;
    width: 50%;
    float: right;
    
    
}

.text-block {
    position: absolute;
    bottom: 20px;
    width: 280px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}




.footer {
    border-top: 10px solid #4aaaa5;
    width: 100%;
    background-color:  #777777;
    color: #eee;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    vertical-align: text-bottom;
    margin-top: 750px;
    margin-left: -25px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
}

a:link {
    text-decoration: none;
}